/* I dont use those styles, but please keep them here for future referance */
/*  They may make extend option in filters look like a toggle, will look at it later once important stuff is done  */


   /* Switcher */
   .switch{
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
   }

   .switch input {
        appearance: none;
        width: 200px;
        height: 50px;
        border-radius: 25px;
        outline: none;
        background-color: #222;
    }

    .switch input::before,.switch input::after{
        z-index: 2;
        position: absolute;
        top: 56%;
        transform: translateY(-50%);
        font-weight: bolder;
    }

    .switch input::before {
        content: "Oui";
        left: 20px;
    }

    .switch input::after {
        content: "Non";
        right: 20px;
    }

    .switch input:checked{
        background-color: #fff;
    }

    .switch label{
        z-index: 1;
        position: absolute;
        top: 10px;
        bottom: 4px;
        border-radius: 20px;
    }

    .switch input {
        transition: 0.25s;
    }

    .switch input:checked::after,.switch input:checked::before{
        /* color: #fff; */
        transition: color 0.5s;
    }

    .switch input:checked+label{
        left: 10px;
        right: 100px;
        background-color: #222;
        transition: left 0.5s, right 0.4s 0.2s ;
    }

    .switch input:not(:checked){
        background-color: #222;
        transition: .4s;
    }

    .switch input:not(:checked)::before{
        color: #fff;
        transition: color .5s ;
    }

    .switch input:not(:checked)::after{
        color: #222;
        transition: color .5s .2s;
    }

    .switch input:not(:checked)+label{
        left: 100px;
        right: 10px;
        background-color: #94A89A;
        transition: left .4s .2s, right .5s, .35s;

    }


/* label{
    color: red;
    border: 2px solid black;
} */

