*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: rgb(143, 165, 107);
    padding: 1rem !important;
    text-align: center;
}

.title {
    font-size: 3rem;
}