

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    /* initializing bg-image and bg-image-opacity variables  */
    --bg-image:url("../../../public/images/homeBackground.jpg");
    --bg-image-opacity:.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper::after { 
    content:'';
    position: fixed;
    /* inset is a shorthand for top,bottom,left and right. Typically used when the position is absolute */
    inset: 0;
    z-index: -1;
    background-image: var(--bg-image);
    height: 100%;
    width: 100%;
    background-position: center center;
    
    opacity: var(--bg-image-opacity);
    background-size: cover;
    background-repeat: no-repeat;
}

.cedarville-cursive-regular {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
}

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: xxx-large;
}

.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}
  
.titre {
    max-width: 100%;
    max-height: 100%;
    height: 475px;
    background-color: #000000c5;
    align-self: center;
}

.titre::after{
    height: 100%;
    width: 100%;
}

.buttonGrid {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.directBtns{
    display: flex;
    height: 20rem;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

a,.btnCustom{
    list-style: none;
    font-size: 1.5rem !important;
    padding: 0.8rem !important;
    width: 13rem; 
}

.bg-secondary {
    border: 1px solid black;
    background-color: white;
}